<!DOCTYPE html>
<html>

<head>
    <title>clock</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/public/index.css">
   
</head>

<body>
    <div class="js-clock">
        <h1></h1>
    </div>
    <form class="js-form form">
        <input type="text" placeholder="What is your name?" />
    </form>
    <h4 class="js-greetings greetings"></h4>
    <form class="js-toDoForm">
        <input type="text" placeholder="write a to do" />
    </form>
    <ul class="js-toDoList">
    </ul>
    sdafsadfs
    <span class="js-weather"></span>
    <script src="/script/bg.js"> </script>
    <script src="/script/clock.js"> </script>
    <script src="/script/gretting.js"> </script>
    <script src="/script/todo.js"> </script>
    <script src="/script/weather.js"> </script>
    <br>
    @@@@@@@@@@@@@@@@@@@
    <br>
    
    
    

    <br>
    ########################

       
</body>

</html>